header{
    padding: 5px;
    background: #6e6e6e;
    border-radius: 10px;
    color: white;
}
footer ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}